* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper2 {
  width: 40vw;
  background-color: rgba(15, 14, 14, 0.18);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.input {
  width: 87%;
  background: transparent;
  border: 0;
  outline: none; /* even if i click on it it does not have black border */
  padding: 20px 16px;
  font-size: 20px;
  color: black;
}

.button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: white;
  background-color: rgba(53, 52, 52, 0.507);
  border: 0;
}

.myContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noValue {
  display: flex;
  justify-content: center;
  color: rgb(83, 12, 74);
}

.inputValue {
  font-weight: bold;
  color: red;
  border-bottom: 3px solid black;
}
